# ezgliding.cfg
#
# Configuration file for ezgliding applications.
#
[global]
## Application wide config parameters

# Plugin serving airspace related queries.
airspacer=soaringweb
# Plugin serving airfield related queries.
airfielder=fusiontables
# Plugin service waypoint related queries.
waypointer=welt2000

[fusiontables]
# key for the fusion tables REST queries.
# Check https://developers.google.com/fusiontables/docs/v1/using#auth for details.
apikey=AIzaSyBFb6wMyglZopVA3DNX6gKM5gRYwWfwVAg

# ID for the airfield fusion table.
airfieldtableid=1aoJXt4wKV4MfV4l8Ljdtb3JIJdNCSyHq5SZsm2i2

# ID for the airspace fusion table.
airspacetableid=

# ID for the waypoint fusion table.
waypointtableid=

# baseurl to use when building the fusion tables REST queries.
#baseurl=https://www.googleapis.com/fusiontables/v1

[soaringweb]
## Plugin 'soaringweb' specific config parameters.

# The base url to use when looking for new soaringweb releases.
# Regions names ('FR', ...) are appended to this value.
#baseurl=http://soaringweb.org/Airspace

[welt2000]
## Plugin 'welt2000' specific config parameters.

# Location of the welt2000 updates rss feed.
#rssurl=http://www.segelflug.de/vereine/welt2000/content/en/news/updates.xml

# Location of the welt2000 release file.
#releaseurl=http://www.segelflug.de/vereine/welt2000/download/WELT2000.TXT
