[project]
	description = Website and software for analyzing, visualizing and planning gliding flights
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ricardo Rocha (rochaporto)
[access "refs/for/refs/*"]
	read = group user/Ricardo Rocha (rochaporto)
	push = group user/Ricardo Rocha (rochaporto)
	label-Code-Review = -2..+2 group user/Ricardo Rocha (rochaporto)
	label-Verified = -1..+1 group user/Ricardo Rocha (rochaporto)
	rebase = group user/Ricardo Rocha (rochaporto)
	removeReviewer = group user/Ricardo Rocha (rochaporto)
	submit = group user/Ricardo Rocha (rochaporto)
[access "refs/heads/*"]
	read = group user/Ricardo Rocha (rochaporto)
	create = group user/Ricardo Rocha (rochaporto)
	push = +force group user/Ricardo Rocha (rochaporto)
	pushMerge = group user/Ricardo Rocha (rochaporto)
[access "refs/tags/*"]
	push = +force group user/Ricardo Rocha (rochaporto)
	pushTag = group user/Ricardo Rocha (rochaporto)
	pushSignedTag = group user/Ricardo Rocha (rochaporto)
